.movie-output-card {
    background-color: hsl(217, 74%, 64%);
    margin: 20px;
}
.restaurant-map-card {
    margin: 20px;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}